<template>
    <v-app>
        <v-navigation-drawer v-model="drawer" app class="indigo">
            <v-list>
                <v-list-tile
                        @click="showDevices"
                        :disabled="this.$route.path === '/'"
                >
                    <v-list-tile-action>
                        <v-icon class="white--text">dashboard</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="white--text">dashboard</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile
                        @click="showCharts"
                        :disabled="this.$route.path === '/charts'"
                >
                    <v-list-tile-action>
                        <v-icon class="white--text">show_chart</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="white--text">charts</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>

        <v-toolbar app>
            <v-toolbar-side-icon @click="drawer = ! drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Smart Shelf</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn v-if="profile"
                   flat
                   :disabled="this.$route.path === '/profile'"
                   @click="showProfile"
            >
                {{profile.name}}
            </v-btn>
            <v-btn v-if="profile" icon href="/logout">
                <v-icon>exit_to_app</v-icon>
            </v-btn>
        </v-toolbar>

        <v-content>
            <router-view></router-view>
        </v-content>


    </v-app>
</template>

<script>
    import {mapState, mapMutations} from 'vuex'
    import {addHandler} from 'util/ws'

    export default {
        data() {
            return {
                drawer: false
            }
        },
        computed: mapState(['profile']),
        methods: {
            ...mapMutations(['addDeviceMutation', 'updateDeviceMutation', 'removeDeviceMutation']),
            showDevices() {
                this.$router.push('/')
            },
            showProfile() {
                this.$router.push('/profile')
            },
            showCharts() {
                this.$router.push('/charts')
            }
        },
        created() {
            addHandler(data => {
                if (data.objectType === 'DEVICE') {
                    switch (data.eventType) {
                        case 'CREATE':
                            this.addDeviceMutation(data.body)
                            break
                        case 'UPDATE':
                            this.updateDeviceMutation(data.body)
                            break
                        case 'REMOVE':
                            this.removeDeviceMutation(data.body)
                            break
                        default:
                            console.error('Looks like the event type if unknown')
                    }
                } else {
                    console.error('Looks like the object type if unknown')
                }
            })
        },
        beforeMount() {
            if (!this.profile) {
                this.$router.replace('/auth')
            }
        }
    }
</script>

<style>
</style>
