<template>
    <div class="small">
        <v-select
                v-model="e1"
                :items="selectItems"
                menu-props="auto"
                label="Select"
                hide-details
                prepend-icon="today"
                single-line
                :on-change="selectDetail(e1)"
        ></v-select>
        <line-chart :chart-data="datacollection"></line-chart>
    </div>
</template>

<!--todo [Vue warn]: Invalid prop: type check failed for prop "chartData". Expected Object, got Null -->
<script>
    import LineChart from "../components/charts/LineChart";

    export default {
        props: ['device'],
        components: {
            LineChart
        },
        data() {
            return {
                datacollection: null,
                selectItems: ['week', 'day', 'hour', 'all'],
                e1: 'all',
                detail: 1
            }
        },
        mounted() {
            console.log(this.e1);
            this.selectDetail(this.e1);
            this.getDataFromBackend();
        },
        methods: {
            fillData(obj) {
                console.log(obj);
                this.datacollection = {
                    labels: Object.keys(obj),
                    datasets: [
                        {
                            label: this.$route.params.serial,
                            backgroundColor: '#6edff8',
                            data: Object.values(obj)
                        }
                    ]
                }
            },
            getDataFromBackend() {
                console.log(this.$route.params.serial);
                console.log(this.detail);
                let currentTime = new Date().getTime() / 1000 | 0;
                let url = 'http://localhost:9000/history?deviceId='
                    + this.$route.params.id + '&deviceSerial='
                    + this.$route.params.serial
                    + '&from='
                    + (currentTime - 1186400)
                    + '&to='
                    + currentTime
                    +'&detail='
                    + this.detail;
                fetch(url)
                    .then(dataWrappedByPromise => dataWrappedByPromise.json())
                    .then(data => {
                        this.fillData(data);
                    });
            },
            selectDetail(selectItem) {
                console.log(selectItem);
                switch (selectItem) {
                    case 'all':
                        this.detail = 1;
                        break;
                    case 'hour':
                        this.detail = 2;
                        break;
                    case 'day':
                        this.detail = 3;
                        break;
                    case 'week':
                        this.detail = 4;
                        break;
                    default:
                        this.detail = 1;
                }
                this.getDataFromBackend();
            }
        }
    }
</script>

<style>
    .small {
        max-width: 600px;
        margin: 150px auto;
    }
</style>