<template>
    <v-container>
        <v-layout align-space-around column>
            <device-form :deviceAttr="device"/>
            <v-layout justify-space-between row wrap>
                <device-row v-for="device in sortedDevices"
                            :key="device.id"
                            :device="device"
                            :editDevice="editDevice"/>
            </v-layout>
        </v-layout>
    </v-container>
</template>

<script>
    import {mapGetters} from 'vuex'
    import DeviceRow from 'components/devices/DeviceRow.vue'
    import DeviceForm from 'components/devices/DeviceForm.vue'

    export default {
        components: {
            DeviceRow,
            DeviceForm
        },
        data() {
            return {
                device: null
            }
        },
        computed: mapGetters(['sortedDevices']),
        methods: {
            editDevice(device) {
                this.device = device
            }
        }
    }
</script>

<style>
</style>