<template>
    <v-layout row>
        <v-text-field
                label="Serial device"
                placeholder="Write serial device"
                v-model="serial"
        />
        <v-btn @click="get">
            Add
        </v-btn>
    </v-layout>
</template>

<script>
    import { mapActions } from 'vuex'
    export default {
        props: ['deviceAttr'],
        data() {
            return {
                serial: ''
            }
        },
        watch: {
            deviceAttr(newVal, oldVal) {
                this.serial = newVal.serial;
            }
        },
        methods: {
            ...mapActions(['addDeviceAction', 'updateDeviceAction']),
            get() {
                debugger
                const device = {
                    serial: this.serial
                };
                this.addDeviceAction(device);
                this.serial = ''
                this.id = ''
            },
            edit() {

            }
        }
    }
</script>

<style>
</style>