<template>
    <v-card class="my-2"
            @click="showCharts"
            :width=344>
        <v-img
                class="white--text"
                height="200px"
                src="https://the-old-republic.ru/uploads/posts/2013-01/1357004290_ship_fury.png"
        ></v-img>
        <v-card-text primary-title>
            <i>({{ device.serial }})</i>
            {{ device.value }} грамм
        </v-card-text>
        <v-card-actions>
            <v-btn value="Edit" @click="edit" small flat round>Edit</v-btn>
            <v-btn icon @click="del" small>
                <v-icon>delete</v-icon>
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        props: ['device', 'editDevice'],
        methods: {
            ...mapActions(['removeDeviceAction']),
            edit() {
                this.editDevice(this.device)
            },
            del() {
                this.removeDeviceAction(this.device)
            },
            showCharts() {
                this.$router.push({ name: 'charts', params: { id: this.device.id, serial: this.device.serial.toString() }})
            }
        }
    }
</script>

<style>
</style>